:root {
  --primary-color: #1C1D20;
  --secondary-color: #4A4D57;
  --header-height: 3.5rem;
  --title-color: hsl(273, 8%, 15%);
  --text-color: hsl(273, 4%, 45%);
  --body-color: hsl(273, 100%, 99%);
  --title-color-dark: hsl(273, 83%, 98%);
  --text-color-dark: hsl(273, 21%, 56%);
  --container-color-dark: hsl(273, 80%, 14%);

  --body-font: "Nunito", sans-serif;

  --z-fixed: 100;

  --accent-color: hsl(274, 95%, 30%);
  --input-color: #F3F0FF;
}

.wrapper {
  min-width: 300px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#todo-input {
  box-sizing: border-box;
  padding: 5px 20px;
  width: 100%;
  background: none;
  border: 2px solid var(--secondary-color);
  border-radius: 1000px;
  font: inherit;
  color: var(--text-color);
  caret-color: var(--accent-color);
}

#todo-input:focus {
  outline: none;
}

form {
  position: relative;
}

#add-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--accent-color);
  height: 100%;
  padding: 0 30px;
  border: none;
  border-radius: 1000px;
  font: inherit;
  font-weight: 600;
  color: var(--body-color);
  cursor: pointer;
}

.todo {
  margin-bottom: 10px;
  padding: 0 15px;
  background-color: var(--input-color);
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.todo .todo-text {
  padding: 9px;
  padding-right: 0;
  flex-grow: 1;
  transition: 200ms ease;
}

.edit-todo-button,
.delete-button {
  padding: 3px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit-todo-button svg,
.delete-button svg {
  transition: 200ms ease;
}



.delete-button:hover svg {
  fill: #ff0033;
}

.edit-todo-button:hover svg {
  fill: dodgerblue;
}

.custom-checkbox {
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  min-height: 15px;
  min-width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 200ms ease;
  cursor: pointer;
}

input[type="checkbox"]:checked~.custom-checkbox {
  background-color: var(--accent-color);
}

input[type="checkbox"]:checked~.custom-checkbox svg {
  fill: var(--input-color);
}

input[type="checkbox"]:checked~.todo-text {
  text-decoration: line-through;
  color: var(--secondary-color);
}

input[type="checkbox"] {
  display: none;
}
